{
	"database": {
		"dsn=": ""
	}
	"users": {
		"tracname1": "githubname1",
		"tracname2": "githubname1"
	},
	"priorities": {
		"priorityname1": {
			"import": true,
			"color": "e7eeff"
		},
		"priorityname2": {
			"import": "priorityname1"
		},
		"priorityname3": {
			"import": false
		}
	},
	"types": {
		"typename1": {
			"import": true,
			"color": "e7eeff"
		},
		"typename2": {
			"import": "typename1"
		},
		"typename3": {
			"import": false
		}
	},
	"resolutions": {
		"resolutionname1": {
			"import": true,
			"color": "e7eeff"
		},
		"resolutionname2": {
			"import": "resolutionname1"
		},
		"resolutionname3": {
			"import": false
		}
	}
}
